header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(255, 238, 168);
  border: 1px solid rgba(255, 98, 0, 0.531);
  border-radius: 6px;
  margin-top: 15px;
  padding: 10px 15px;

}

body {
  background-color: rgba(143, 116, 180, 0.42);
}